@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes featuring-progress {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

.featuring-progress {
	transform-origin: left;
	animation: featuring-progress 15s linear forwards;
}